@model BusinessObjects.UserResourcePoolOrganization

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>UserResourcePoolOrganization</h4>
        <hr />
        @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.UserId, "User", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("UserId", String.Empty)
                @Html.ValidationMessageFor(model => model.UserId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ResourcePoolOrganizationId, "Resource Pool - Organization", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ResourcePoolOrganizationId", String.Empty)
                @Html.ValidationMessageFor(model => model.ResourcePoolOrganizationId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NumberOfSales, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumberOfSales)
                @Html.ValidationMessageFor(model => model.NumberOfSales)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.QualityRating, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.QualityRating)
                @Html.ValidationMessageFor(model => model.QualityRating)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CustomerSatisfactionRating, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CustomerSatisfactionRating)
                @Html.ValidationMessageFor(model => model.CustomerSatisfactionRating)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmployeeSatisfactionRating, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmployeeSatisfactionRating)
                @Html.ValidationMessageFor(model => model.EmployeeSatisfactionRating)
            </div>
        </div>

        @Html.HiddenFor(model => model.CreatedOn)

        @Html.HiddenFor(model => model.ModifiedOn)

        @Html.HiddenFor(model => model.DeletedOn)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
