@model BusinessObjects.Organization

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Organization</h4>
        <hr />
        @Html.ValidationSummary(true)

	Id
		SectorId
	        <div class="form-group">
            @Html.LabelFor(model => model.SectorId, "SectorId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SectorId", String.Empty)
                @Html.ValidationMessageFor(model => model.SectorId)
            </div>
        </div>

	Name
	        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

	ProductionCost
	        <div class="form-group">
            @Html.LabelFor(model => model.ProductionCost, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProductionCost)
                @Html.ValidationMessageFor(model => model.ProductionCost)
            </div>
        </div>

	SalesPrice
	        <div class="form-group">
            @Html.LabelFor(model => model.SalesPrice, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SalesPrice)
                @Html.ValidationMessageFor(model => model.SalesPrice)
            </div>
        </div>

	LicenseId
	        <div class="form-group">
            @Html.LabelFor(model => model.LicenseId, "LicenseId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("LicenseId", String.Empty)
                @Html.ValidationMessageFor(model => model.LicenseId)
            </div>
        </div>

	CreatedOn
		ModifiedOn
		DeletedOn
		Sector
		License
		ResourcePoolOrganizationSet
	        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
