@model BusinessObjects.UserResourcePool

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserResourcePool</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ResourcePoolRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResourcePoolRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalCostIndexRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalCostIndexRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KnowledgeIndexRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KnowledgeIndexRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QualityIndexRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QualityIndexRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SectorIndexRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectorIndexRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeSatisfactionIndexRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeSatisfactionIndexRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerSatisfactionIndexRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerSatisfactionIndexRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DistanceIndexRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DistanceIndexRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeletedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeletedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResourcePool.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResourcePool.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
