@model IEnumerable<BusinessObjects.UserResourcePool>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ResourcePoolRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalCostIndexRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KnowledgeIndexRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QualityIndexRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SectorIndexRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeSatisfactionIndexRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerSatisfactionIndexRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DistanceIndexRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResourcePool.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ResourcePoolRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalCostIndexRating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KnowledgeIndexRating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QualityIndexRating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SectorIndexRating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeSatisfactionIndexRating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerSatisfactionIndexRating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DistanceIndexRating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResourcePool.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
