@model IEnumerable<BusinessObjects.UserResourcePoolOrganization>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfSales)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QualityRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerSatisfactionRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeSatisfactionRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResourcePoolOrganization.Id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfSales)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QualityRating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerSatisfactionRating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeSatisfactionRating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResourcePoolOrganization.Id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
