@model IEnumerable<BusinessObjects.Organization>

@{
    ViewBag.Title = "Test Lab";
}

<h2>Test Lab</h2>

<p>
    <div class="btn-group">
        @{ Html.BeginForm("IncreaseNumberOfSales", "Organization", new { area = "" }, FormMethod.Post, null); }
        <button type="submit" class="btn btn-default">Increase Number of Sales</button>
        @{ Html.EndForm(); }
        @{ Html.BeginForm("ResetNumberOfSales", "Organization", new { area = "" }, FormMethod.Post, null); }
        <button type="submit" class="btn btn-default">Reset Number of Sales</button>
        @{ Html.EndForm(); }
    </div>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductionCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalesPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Profit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProfitPercentage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProfitMargin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CMRPPercentage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CMRPTax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalesPriceIncludingCMRPTax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfSales)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalProductionCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalSalesRevenue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalProfit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalCMRPTax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalSalesRevenueIncludingCMRPTax)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductionCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalesPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Profit)
            </td>
            <td>
                @item.ProfitPercentage.ToString("P2")
            </td>
            <td>
                @item.ProfitMargin.ToString("P2")
            </td>
            <td>
                @item.CMRPPercentage.ToString("P2")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CMRPTax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalesPriceIncludingCMRPTax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfSales)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalProductionCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalSalesRevenue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalProfit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCMRPTax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalSalesRevenueIncludingCMRPTax)
            </td>
        </tr>
    }
</table>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductionCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalesPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Profit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProfitPercentage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProfitMargin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CMRPTax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalesPriceIncludingCMRPTax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfSales)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalSalesRevenueIncludingCMRPTax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalCMRPTax)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductionCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalesPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Profit)
            </td>
            <td>
                @item.ProfitPercentage.ToString("P2")
            </td>
            <td>
                @item.ProfitMargin.ToString("P2")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CMRPTax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalesPriceIncludingCMRPTax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfSales)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalSalesRevenueIncludingCMRPTax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCMRPTax)
            </td>
        </tr>
    }
</table>
