@model BusinessObjects.ResourcePoolOrganization

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ResourcePoolOrganization</h4>
        <hr />
        @Html.ValidationSummary(true)

	Id
		ResourcePoolId
	        <div class="form-group">
            @Html.LabelFor(model => model.ResourcePoolId, "ResourcePoolId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ResourcePoolId", String.Empty)
                @Html.ValidationMessageFor(model => model.ResourcePoolId)
            </div>
        </div>

	OrganizationId
	        <div class="form-group">
            @Html.LabelFor(model => model.OrganizationId, "OrganizationId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("OrganizationId", String.Empty)
                @Html.ValidationMessageFor(model => model.OrganizationId)
            </div>
        </div>

	CreatedOn
		ModifiedOn
		DeletedOn
		Organization
		ResourcePool
		UserResourcePoolOrganizationSet
	        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
