@model BusinessObjects.ResourcePoolOrganization

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ResourcePoolOrganization</h4>
        <hr />
        @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.ResourcePoolId, "ResourcePoolId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ResourcePoolId", String.Empty)
                @Html.ValidationMessageFor(model => model.ResourcePoolId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrganizationId, "OrganizationId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("OrganizationId", String.Empty)
                @Html.ValidationMessageFor(model => model.OrganizationId)
            </div>
        </div>

        @Html.HiddenFor(model => model.CreatedOn)

        @Html.HiddenFor(model => model.ModifiedOn)

        @Html.HiddenFor(model => model.DeletedOn)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
