<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Wealth Economy", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @{if (ViewBag.IsAuthenticated && ViewBag.CurrentUserAccountTypeId == BusinessObjects.UserAccountType.Administrator) {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Definitions <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("User", "Index", "User", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Sector", "Index", "Sector", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("License", "Index", "License", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Organization", "Index", "Organization", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Resource Pool", "Index", "ResourcePool", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Resource Pool - Organization", "Index", "ResourcePoolOrganization", new { area = "" }, null)</li>
                            </ul>
                        </li>
                    }}
                    @{if (ViewBag.IsAuthenticated) {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">CMRP <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Total Cost Index", "TotalCostIndex", "OrganizationGroup", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Knowledge Index - Private", "KnowledgeIndexPrivate", "OrganizationGroup", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Knowledge Index - Public", "KnowledgeIndexPublic", "OrganizationGroup", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Quality Index - Private", "QualityIndexPrivate", "OrganizationGroup", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Quality Index - Public", "QualityIndexPublic", "OrganizationGroup", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Employee Satisfaction Index - Private", "EmployeeSatisfactionIndexPrivate", "OrganizationGroup", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Employee Satisfaction Index - Public", "EmployeeSatisfactionIndexPublic", "OrganizationGroup", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Customer Satisfaction Index - Private", "CustomerSatisfactionIndexPrivate", "OrganizationGroup", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Customer Satisfaction Index - Public", "CustomerSatisfactionIndexPublic", "OrganizationGroup", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Sector Index - Private", "SectorIndexPrivate", "OrganizationGroup", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Sector Index - Public", "SectorIndexPublic", "OrganizationGroup", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Distance Index", "DistanceIndex", "OrganizationGroup", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("All in One - Private", "AllInOnePrivate", "OrganizationGroup", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("All in One - Public", "AllInOnePublic", "OrganizationGroup", new { area = "" }, null)</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ratings <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("CMRP Index Rating", "Index", "UserResourcePool", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Resource Pool - Organization Rating", "Index", "UserResourcePoolOrganization", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Licence Rating", "Index", "UserLicenseRating", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Sector Rating", "Index", "UserSectorRating", new { area = "" }, null)</li>
                        </ul>
                    </li>
                    }}
                    @*<li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>*@
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <div class="navbar-text nofloat">
                            @{if (ViewBag.IsAuthenticated == true)
                            {
                                @("User: " + ViewBag.CurrentUserEmail)
                                @Html.ActionLink("Edit", "Edit", "User", new { area = "", id = ViewBag.CurrentUserId }, new { @class = "btn btn-xs btn-link" })
                                @Html.ActionLink("Logout", "Logout", "Home", new { area = "" }, new { @class = "btn btn-xs btn-link" })
                            }
                            else
                            {
                                @Html.ActionLink("Login", "Login", "Home", new { area = "" }, new { @class = "btn btn-xs btn-link" })
                            }}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">

        @RenderBody()
        <hr />
        <footer>
            <p>
                @DateTime.Now.Year - Open Source Pioneers<br />
                Ver.: @System.Reflection.Assembly.GetAssembly(typeof(BundleConfig)).GetName().Version<br />
            </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
