<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Wealth Economy</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body data-ng-app="main" data-ng-controller="layoutController as vm">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Wealth Economy</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown" data-ng-show="vm.userInfo && vm.userInfo.IsAdmin">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">Definitions <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/User/">User</a></li>
                            <li><a href="/ResourcePool/">Resource Pool</a></li>
                            <li><a href="/Sector/">Sector</a></li>
                            <li><a href="/License/">License</a></li>
                            <li><a href="/Organization/">Organization</a></li>
                        </ul>
                    </li>
                    <li class="dropdown" data-ng-show="vm.userInfo">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">CMRP <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/TotalCostIndex/">Total Cost Index</a></li>
                            <li><a href="/KnowledgeIndex/">Knowledge Index</a></li>
                            <li><a href="/QualityIndex/">Quality Index</a></li>
                            <li><a href="/EmployeeSatisfactionIndex/">Employee Satisfaction Index</a></li>
                            <li><a href="/CustomerSatisfactionIndex/">Customer Satisfaction Index</a></li>
                            <li><a href="/SectorIndex/">Sector Index</a></li>
                            <li><a href="/DistanceIndex/">Distance Index</a></li>
                            <li><a href="/AllInOne/">All in One</a></li>
                        </ul>
                    </li>
                    <li class="dropdown" data-ng-show="vm.userInfo">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">Ratings <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/UserResourcePool/">CMRP Index Rating</a></li>
                            <li><a href="/UserOrganization/">Organization Rating</a></li>
                            <li><a href="/UserSectorRating/">Sector Rating</a></li>
                            <li><a href="/UserLicenseRating/">Licence Rating</a></li>
                            <li><a href="/SectorChart/">Sector Chart</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">Chapters <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Chapters/1">Chapter 1</a></li>
                            <li><a href="/Chapters/2">Chapter 2</a></li>
                            <li><a href="/Chapters/3">Chapter 3</a></li>
                            <li><a href="/Chapters/4">Chapter 4</a></li>
                            <li><a href="/Chapters/5">Chapter 5</a></li>
                            <li><a href="/Chapters/6">Chapter 6</a></li>
                            <li><a href="/Chapters/7">Chapter 7</a></li>
                            <li><a href="/Chapters/8">Chapter 8</a></li>
                            <li><a href="/Chapters/9">Chapter 9</a></li>
                            <li><a href="/Chapters/10">Chapter 10</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">Misc <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Overview">Overview</a></li>
                            <li><a href="/Technologies">Technologies</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown" data-ng-show="vm.userInfo">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">User: {{ vm.userInfo.Email }} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/User/AccountEdit/{{ vm.userInfo.Id }}">Edit</a></li>
                            <li><a href="/User/ChangePassword/">Change password</a></li>
                            <li><a href="" data-ng-click="vm.resetSampleData()">Reset sample data</a></li>
                            <li><a href="" data-ng-click="vm.logout()">Logout</a></li>
                        </ul>
                    </li>
                    <li data-ng-show="!vm.userInfo">
                        <div class="navbar-text nofloat">
                            <a href="/User/Register/">Register</a>
                            &nbsp;
                            <a href="/User/Login/">Login</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">

        @RenderBody()
        <div ng-view></div>

        <hr />
        <footer>
            <p>
                {{ vm.currentDate | date:'yyyy' }} - Open Source Pioneers<br />
                Ver.: {{ vm.applicationInfo.CurrentVersion }}<br />
            </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="/Scripts/angular.js"></script>
    <script src="/Scripts/angular-route.js"></script>
    <script src="/Scripts/datajs-1.1.2.js"></script>
    <script src="/Scripts/toastr.js"></script>

    <script src="/Scripts/breeze.debug.js"></script>
    <script src="/Scripts/breeze.angular.js"></script>
    <script src="/Scripts/breeze.directives.js"></script>

    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="https://rawgithub.com/pablojim/highcharts-ng/master/src/highcharts-ng.js"></script>
    @*<script src="http://code.highcharts.com/modules/exporting.js"></script>*@

    <script src="/Scripts/app/main.js"></script>
    <script src="/Scripts/app/logger.js"></script>
    <script src="/Scripts/app/route.js"></script>
    <script src="/Scripts/app/entityManagerFactory.js"></script>
    <script src="/Scripts/app/dataContext.js"></script>
    <script src="/Scripts/app/filters/angular-percentage.js"></script>

    <script src="/Scripts/app/services/mainService.js"></script>

    <script src="/Scripts/app/services/generated/licenseService.js"></script>
    <script src="/Scripts/app/controllers/licenseListController.js"></script>
    <script src="/Scripts/app/controllers/licenseEditController.js"></script>

    <script src="/Scripts/app/services/generated/organizationService.js"></script>
    <script src="/Scripts/app/controllers/organizationListController.js"></script>
    <script src="/Scripts/app/controllers/organizationEditController.js"></script>

    <script src="/Scripts/app/services/generated/resourcePoolService.js"></script>
    <script src="/Scripts/app/controllers/resourcePoolListController.js"></script>
    <script src="/Scripts/app/controllers/resourcePoolEditController.js"></script>

    <script src="/Scripts/app/services/generated/sectorService.js"></script>
    <script src="/Scripts/app/controllers/sectorListController.js"></script>
    <script src="/Scripts/app/controllers/sectorEditController.js"></script>

    <script src="/Scripts/app/services/generated/userService.js"></script>
    <script src="/Scripts/app/controllers/userListController.js"></script>
    <script src="/Scripts/app/controllers/userEditController.js"></script>

    @* User service extension *@
    <script src="/Scripts/app/services/userService.js"></script>

    <script src="/Scripts/app/services/generated/userLicenseRatingService.js"></script>
    <script src="/Scripts/app/controllers/userLicenseRatingListController.js"></script>
    <script src="/Scripts/app/controllers/userLicenseRatingEditController.js"></script>

    <script src="/Scripts/app/services/generated/userResourcePoolService.js"></script>
    <script src="/Scripts/app/controllers/userResourcePoolListController.js"></script>
    <script src="/Scripts/app/controllers/userResourcePoolEditController.js"></script>

    <script src="/Scripts/app/services/generated/userOrganizationService.js"></script>
    <script src="/Scripts/app/controllers/userOrganizationListController.js"></script>
    <script src="/Scripts/app/controllers/userOrganizationEditController.js"></script>

    <script src="/Scripts/app/services/generated/userSectorRatingService.js"></script>
    <script src="/Scripts/app/controllers/userSectorRatingListController.js"></script>
    <script src="/Scripts/app/controllers/userSectorRatingEditController.js"></script>

    @* Service extensions *@
    <script src="/Scripts/app/services/userResourcePoolService.js"></script>
    <script src="/Scripts/app/services/userSectorRatingService.js"></script>

    <script src="/Scripts/app/controllers/userResourcePoolController.js"></script>

    <script src="/Scripts/app/controllers/layoutController.js"></script>
    <script src="/Scripts/app/controllers/loginController.js"></script>
    <script src="/Scripts/app/controllers/registerController.js"></script>
    <script src="/Scripts/app/controllers/accountEditController.js"></script>
    <script src="/Scripts/app/controllers/changePasswordController.js"></script>

    <script src="/Scripts/app/controllers/sectorChartController.js"></script>

    <script src="/Scripts/app/controllers/chapter1Controller.js"></script>

</body>
</html>
