<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Wealth Economy", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @{if (!ViewBag.IsAuthenticated)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Definitions <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("User", "Index", "User", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Sector", "Index", "Sector", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("License", "Index", "License", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Organization", "Index", "Organization", new { area = "" }, null)</li>
                            </ul>
                        </li>
                    }}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">CMRP <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Total Cost Index", "TotalCostIndex", "ResourcePool", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Knowledge Index", "KnowledgeIndex", "ResourcePool", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Quality Index", "QualityIndex", "ResourcePool", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Sector Index", "SectorIndex", "ResourcePool", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Employee Satisfaction Index", "EmployeeSatisfactionIndex", "ResourcePool", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Customer Satisfaction Index", "CustomerSatisfactionIndex", "ResourcePool", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Distance Index", "DistanceIndex", "ResourcePool", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Index Pie List", "Index", "UserDistributionIndexRating", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Index Pie Report", "Report", "UserDistributionIndexRating", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("All in One", "AllInOne", "ResourcePool", new { area = "" }, null)</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ratings <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Licence Rating", "Index", "UserLicenseRating", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Organization Rating", "Index", "UserOrganizationRating", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Sector Rating", "Index", "UserSectorRating", new { area = "" }, null)</li>
                        </ul>
                    </li>
                    @*<li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>*@
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <div class="navbar-text nofloat">
                            @{if (ViewBag.IsAuthenticated == true)
                            {
                                @("User: " + ViewBag.CurrentUserEmail)
                                @Html.ActionLink("Edit", "Edit", "User", new { area = "", id = ViewBag.CurrentUserId }, new { @class = "btn btn-xs btn-link" })
                                @Html.ActionLink("Logout", "Logout", "Home", new { area = "" }, new { @class = "btn btn-xs btn-link" })
                            }
                            else
                            {
                                @Html.ActionLink("Login", "Login", "Home", new { area = "" }, new { @class = "btn btn-xs btn-link" })
                            }}
                        </div>
                    </li>
                    @*<span class="navbar-text nofloat">Hello, <a href="#" class="navbar-link" data-bind="text: name, click: manage"></a>!</span>*@
                    @*<li><a href="#" data-bind="click: logOff">Log off</a></li>*@
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">

        @RenderBody()
        <hr />
        <footer>
            <p>
                @DateTime.Now.Year - Open Source Pioneers<br />
                Ver.: @System.Reflection.Assembly.GetAssembly(typeof(BundleConfig)).GetName().Version<br />
            </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
