@model BusinessObjects.UserOrganizationRating

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserOrganizationRating</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QualityRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QualityRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomSatisfactionRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomSatisfactionRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeSatisfactionRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeSatisfactionRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeletedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeletedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Organization.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Organization.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
