@model BusinessObjects.UserDistributionIndexRating

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>UserDistributionIndexRating</h4>
        <hr />
        @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.UserId, "UserId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("UserId", String.Empty)
                @Html.ValidationMessageFor(model => model.UserId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TotalCostIndexRating, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TotalCostIndexRating)
                @Html.ValidationMessageFor(model => model.TotalCostIndexRating)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.KnowledgeIndexRating, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.KnowledgeIndexRating)
                @Html.ValidationMessageFor(model => model.KnowledgeIndexRating)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.QualityIndexRating, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.QualityIndexRating)
                @Html.ValidationMessageFor(model => model.QualityIndexRating)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SectorIndexRating, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SectorIndexRating)
                @Html.ValidationMessageFor(model => model.SectorIndexRating)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmployeeIndexRating, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmployeeIndexRating)
                @Html.ValidationMessageFor(model => model.EmployeeIndexRating)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CustomerIndexRating, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CustomerIndexRating)
                @Html.ValidationMessageFor(model => model.CustomerIndexRating)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DistanceIndexRating, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DistanceIndexRating)
                @Html.ValidationMessageFor(model => model.DistanceIndexRating)
            </div>
        </div>

        @Html.HiddenFor(model => model.CreatedOn)

        @Html.HiddenFor(model => model.ModifiedOn)

        @Html.HiddenFor(model => model.DeletedOn)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
