@model BusinessObjects.UserDistributionIndexRatingAverage

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RatingCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalCostIndexRatingWeightedAverage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KnowledgeIndexRatingWeightedAverage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QualityIndexRatingWeightedAverage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SectorIndexRatingWeightedAverage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeSatisfactionIndexRatingWeightedAverage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerSatisfactionIndexRatingWeightedAverage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DistanceIndexRatingWeightedAverage)
        </th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(model => model.RatingCount)
        </td>
        <td>
            @Html.DisplayFor(model => model.TotalCostIndexRatingWeightedAverage)
        </td>
        <td>
            @Html.DisplayFor(model => model.KnowledgeIndexRatingWeightedAverage)
        </td>
        <td>
            @Html.DisplayFor(model => model.QualityIndexRatingWeightedAverage)
        </td>
        <td>
            @Html.DisplayFor(model => model.SectorIndexRatingWeightedAverage)
        </td>
        <td>
            @Html.DisplayFor(model => model.EmployeeSatisfactionIndexRatingWeightedAverage)
        </td>
        <td>
            @Html.DisplayFor(model => model.CustomerSatisfactionIndexRatingWeightedAverage)
        </td>
        <td>
            @Html.DisplayFor(model => model.DistanceIndexRatingWeightedAverage)
        </td>
    </tr>

</table>
